<h1>Welcome to the Car Simulator</h1>

<form action="/new" method="get">
  <input type="text" name="make" id="make" placeholder="Make">

  <input type="text" name="model_year" id="model_year" placeholder="Model Year">
  <input type="submit" name="status" value="Simulate Car">
</form>
